
  <div class="card text-center">
    <div class="card-body ">
      <strong><h2 class="card-title">Sistema de Ordenanzas Municipales</h2></strong>
      <p class="card-text">Departamento de Gestión Tecnólogica</p>
      <div class="card text-start|center|end">
        <div class="card-body" width="300px">
          <img class="card-img; logo" src="/assets/img/gad-logo.png" alt="logo GAD Municipal Pelileo">
        </div>
      </div>
    </div>
    <div class="card-footer text-muted">
      GAD Municipal de Pelileo
    </div>
  </div>


  

