<div class="card">
  <div class="card-header text-center">Agregar usuario</div>
  <div class="card-body">
    <form [formGroup]="formUsuario" (ngSubmit)="agregarUsuario()">
      <!--ID Usuario-->
      <div class="mb-3">
        <label for="" class="form-label"></label>
        <input
          type="text"
          required
          class="form-control"
          formControlName="id_usuario"
          aria-describedby="helpId"
          placeholder="Id Usuario"
        />
      </div>

      <!--Contraseña-->
      <div class="mb-3">
        <label for="" class="form-label"></label>
        <input
          type="password"
          required
          class="form-control"
          formControlName="clave"
          aria-describedby="helpId"
          placeholder="Contraseña"
        />
      </div>

      <!--Nombre-->
      <div class="mb-3">
        <label for="" class="form-label"></label>
        <input
          type="text"
          class="form-control"
          required
          formControlName="nombre"
          aria-describedby="helpId"
          placeholder="Nombre"
        />
      </div>

      <!--Departamento (Admin o Editor)-->
      <strong><label for="" class="form-label">Departamento</label></strong>
      <select
        formControlName="id_departamento_per"
        class="form-select form-select-sm"
        aria-label=".form-select-lg example"
        required>
        <option
          *ngFor="let departamento of listaDepartamentos"
          value="{{ departamento.id_materia }}">
          {{ departamento.nombre }}
        </option>
      </select><br>
      
      <!--Permiso (Admin o Editor)-->
      <strong><label for="" class="form-label">Permiso del usuario</label></strong>
      <select
        formControlName="id_permiso_per"
        class="form-select form-select-sm"
        aria-label=".form-select-lg example"
        required
      >
        <option value="1">Administrador</option>
        <option value="2" selected>Editor</option>
      </select>

      <!--Correo-->
      <div class="mb-3">
        <label for="" class="form-label"></label>
        <input
          type="email"
          class="form-control"
          required
          formControlName="correo"
          aria-describedby="helpId"
          placeholder="Correo Electrónico"
        />
      </div>

      <!--Botones-->
      <div class="btn-group" role="group" aria-label="">
        <button
          [disabled]="formUsuario.invalid"
          type="submit"
          class="btn btn-success"
        >
          Agregar
        </button>
        <button type="button" (click)="cancelar()" class="btn btn-primary">
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>
