<mat-toolbar fxLayout fxLayoutAlign="end center">
    <button mat-button class="profile" [matMenuTriggerFor] = "menu">
        <!--<img src="/assets/img/avatar.jpeg" alt="">-->
        <span class="usuario">{{nombreUsuario}}</span>
        <mat-icon [ngStyle]="{'color':'white'}" >keyboard_arrow_down</mat-icon>
    </button>

    <!---Referencia llamado al menu-->
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Cerrar Sesión</span>
        </button>
    </mat-menu>
</mat-toolbar>
