<div class="card">
  <div class="card-header">Editar usuario</div>
  <div class="card-body">
    <form [formGroup]="formUsuario" (ngSubmit)="submitForm()">
      <!--ID Usuario-->
      <div class="mb-3">
        <strong><label for="" class="form-label">ID Usuario</label></strong>
        <input
          type="text"
          readonly
          class="form-control"
          formControlName="id_usuario"
          aria-describedby="helpId"
          placeholder="Id Usuario"
        />
      </div>

      <!--Contraseña-->
      <div class="mb-3">
        <strong><label for="" class="form-label">Contraseña</label></strong>
        <input
          type="password"
          class="form-control"
          formControlName="clave"
          aria-describedby="helpId"
          placeholder="Contraseña"
        />
      </div>

      <div *ngIf="administrador">
        <!--Nombre-->
        <div class="mb-3">
          <strong><label for="" class="form-label">Nombre</label></strong>
          <input
            type="text"
            class="form-control"
            formControlName="nombre"
            aria-describedby="helpId"
            placeholder="Nombre"
          />
        </div>

        <!--Departamento (Admin o Editor)-->
        <strong><label for="" class="form-label">Departamento</label></strong>
        <select
          formControlName="id_departamento_per"
          class="form-select form-select-sm"
          aria-label=".form-select-lg example"
        >
          <option
            *ngFor="let departamento of listaDepartamentos"
            value="{{ departamento.id_materia }}"
          >
            {{ departamento.nombre }}
          </option></select
        ><br />

        <!--Permiso (Admin o Editor)-->
        <strong
          ><label for="" class="form-label">Permiso del Usuario</label></strong
        >
        <select
          formControlName="id_permiso_per"
          class="form-select form-select-sm"
          aria-label=".form-select-lg example"
        >
          <option value="1">Administrador</option>
          <option value="2">Editor</option></select
        ><br />

        <!--Correo-->
        <div class="mb-3">
          <strong
            ><label for="" class="form-label">Correo Electrónico</label></strong
          >
          <input
            type="email"
            class="form-control"
            formControlName="correo"
            aria-describedby="helpId"
            placeholder="Correo Electrónico"
          />
        </div>
      </div>

      <div class="btn-group" role="group" aria-label="">
        <button type="submit" class="btn btn-success">Editar</button>
        <button type="button" (click)="cancelar()" class="btn btn-primary">
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>
