<div class="card">
    <div class="card-header">
        Usuarios
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Rol</th>
                    <th>Correo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1851005361</td>
                    <td>Joao Jacome</td>
                    <td>Administrador</td>
                    <td>admin@gmail.com</td>
                    <td>
                       <a routerLink="editar-usuario/1851005361">Editar</a>  | Eliminar</td>
                </tr>
            </tbody>
        </table>
        
    </div>
</div>