<nav *ngIf="administrador" sticky class="navbar navbar-expand navbar-light bg-light">
    <div class="nav navbar-nav">
        <u><a class="btn btn-info" routerLink="agregar-usuario">Agregar Usuario</a></u>
    </div>
</nav>
<div class="card text-center">
    <div class="card-header">
        Lista de Usuarios
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th *ngIf="administrador">Rol</th>
                    <th *ngIf="administrador">Departamento</th>
                    <th>Correo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of listaUsuarios; let iControl = index">
                    <td>{{usuario.id_usuario}}</td>
                    <td>{{usuario.nombre}}</td>
                    <td *ngIf="administrador">{{usuario.Rol}}</td>
                    <td *ngIf="administrador">{{usuario.Departamento}}</td>
                    <td>{{usuario.correo}}</td>
                    <td>
                       <a class="btn btn-info" routerLink="editar-usuario/{{usuario.id_usuario}}">Editar</a>  | 
                       <a *ngIf="administrador" class="btn btn-danger" role="button" (click)="borrarUsuario(usuario.id_usuario, iControl)">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>
</div>