<nav class="navbar navbar-expand navbar-light bg-light">
    <ul class="nav navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" routerLink="agregar-departamento">Agregar Departamento</a>
        </li>
    </ul>
</nav>

<div class="card">
    <div class="card-header">
        Lista de Departamentos
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Id Departamento</th>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let departamento of listaDepartamentos; let iControl = index">
                    <td>{{departamento.id_materia}}</td>
                    <td>{{departamento.nombre}}</td>
                    <td>
                        <a class="btn btn-info" routerLink="/departamentos/editar-departamento/{{departamento.id_materia}}">Editar</a> |
                        <a class="btn btn-danger" role="button" (click)="borrar(departamento.id_materia, iControl)">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
